<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="d-flex justify-content-between mb-3">

      <i class="fa-solid fa-popcorn"></i>

      <div class="mt-2">
        <a href="#" class="text-decoration-none link-dark">My list</a> -
        <a href="#" class="text-decoration-none link-dark">New list</a>
      </div>
  </div>
    <div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container text-center">
          <h1>Watch List</h1>
          <p>Lista de filmes</p>
          <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
